.cardOuter {
  background-color: white;
  height: 200px;
  border-radius: 8px;
  padding: 2px ;
  margin-top: 50px;
  background: linear-gradient(
    to bottom right,
    rgba(109, 207, 246, 1),
    rgb(150, 117, 240)
  );

  .cardInner {
    background-color: white;
    height: 100%;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    button {
      margin-top: auto;
      width: 50%;
    }
  }
}
